:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.form-wrapper > div {
  max-width: 40%;
  width: 40%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-user-form h1 {
  margin-bottom: 20px;
}

.image-wrapper-col {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-active svg,
.nav-active span {
  color: #1976d2;
}
